@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Avenirltstd';
    src: url('../Font/AvenirLTStd-Book.ttf');
}


@layer base{
  
   .rotate {
        transform: rotate(45deg);
      }

     

      @keyframes rotate360 {
        from {
          transform: rotate(45deg);
        }
        to {
          transform: rotate(0deg);
        }
      }
      
      .rotate-animation {
        animation: rotate360 2s linear infinite;
      }
      
      .rotatecard{
        transform: rotate(-20deg);
      } 
     
}
